<!DOCTYPE html>
<html>
    <head>
        <link href="{{ url_for('static', filename='styles/calendar_page.css')}}" rel="stylesheet" />
        <link href='https://fonts.googleapis.com/css?family=Inter' rel='stylesheet'>
        <title>Events</title>
    </head>
    <body>
        <div class="calendar-page">
            {% include '/components/calendar_page/sidebar.html' %}
            {% include '/components/calendar_page/calendar.html' %}
        </div>
        <script>
            const getEvents = async () => {
                const res = await fetch('http://localhost:8080/api/events');
                const arrayEvents = await res.json();
                const events = Object.values(arrayEvents).map(event => {
                    const [id, title, location, description, start_time, end_time] = event[0];
                    return {
                        id, 
                        title,
                        location,
                        description,
                        start_time,
                        end_time
                    };
                });
            }
            getEvents();
        </script>
    </body>
</html>


