<div class="sidebar">
    {% include '/components/calendar_page/date.html' %}
    {% include '/components/calendar_page/eating_club.html' %}
    <div class="toggles-row">
        {% include '/components/calendar_page/toggle_switch.html' %}
        <!-- {% include '/components/calendar_page/toggle_switch.html' %} -->
    </div>
    <div class="toggles-row">
        <!-- {% include '/components/calendar_page/toggle_switch.html' %} -->
        <!-- {% include '/components/calendar_page/toggle_switch.html' %} -->
    </div>
</div>