<div class="sidebar">
    <h3 id="eating-club-header">Eating Clubs</h3>    
    <table>
        <tr>
            <td></td>
            <td>
                <div class="toggle-switch-container">
                    <div class="toggle-switch-div">
                        <p class="toggle-label">Cannon</p>
                        <div class="toggle-switch">
                            <input type="checkbox" class="checkbox" name="Cannon" id="Cannon-checkbox" checked>
                            <label class="label" for="Cannon-checkbox" id="Cannon-label">
                                <span class="inner"></span>
                                <span class="switch"></span>
                            </label>
                        </div>
                    </div>
                </div>
            </td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td>
                <div class="toggle-switch-container">
                    <div class="toggle-switch-div">
                        <p class="toggle-label">Cap</p>
                        <div class="toggle-switch">
                            <input type="checkbox" class="checkbox" name="Cap" id="Cap-checkbox" checked>
                            <label class="label" for="Cap-checkbox" id="Cap-label">
                                <span class="inner"></span>
                                <span class="switch"></span>
                            </label>
                        </div>
                    </div>
                </div>
            </td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td>
                <div class="toggle-switch-container">
                    <div class="toggle-switch-div">
                        <p class="toggle-label">Charter</p>
                        <div class="toggle-switch">
                            <input type="checkbox" class="checkbox" name="Charter" id="Charter-checkbox" checked>
                            <label class="label" for="Charter-checkbox" id="Charter-label">
                                <span class="inner"></span>
                                <span class="switch"></span>
                            </label>
                        </div>
                    </div>
                </div>
            </td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td>
                <div class="toggle-switch-container">
                    <div class="toggle-switch-div">
                        <p class="toggle-label">Cloister</p>
                        <div class="toggle-switch">
                            <input type="checkbox" class="checkbox" name="Cloister" id="Cloister-checkbox" checked>
                            <label class="label" for="Cloister-checkbox" id="Cloister-label">
                                <span class="inner"></span>
                                <span class="switch"></span>
                            </label>
                        </div>
                    </div>
                </div>
            </td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td>
                <div class="toggle-switch-container">
                    <div class="toggle-switch-div">
                        <p class="toggle-label">Colonial</p>
                        <div class="toggle-switch">
                            <input type="checkbox" class="checkbox" name="Colonial" id="Colonial-checkbox" checked>
                            <label class="label" for="Colonial-checkbox" id="Colonial-label">
                                <span class="inner"></span>
                                <span class="switch"></span>
                            </label>
                        </div>
                    </div>
                </div>
            </td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td>
                <div class="toggle-switch-container">
                    <div class="toggle-switch-div">
                        <p class="toggle-label">Cottage</p>
                        <div class="toggle-switch">
                            <input type="checkbox" class="checkbox" name="Cottage" id="Cottage-checkbox" checked>
                            <label class="label" for="Cottage-checkbox" id="Cottage-label">
                                <span class="inner"></span>
                                <span class="switch"></span>
                            </label>
                        </div>
                    </div>
                </div>
            </td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td>
                <div class="toggle-switch-container">
                    <div class="toggle-switch-div">
                        <p class="toggle-label">Ivy</p>
                        <div class="toggle-switch">
                            <input type="checkbox" class="checkbox" name="Ivy" id="Ivy-checkbox" checked>
                            <label class="label" for="Ivy-checkbox" id="Ivy-label">
                                <span class="inner"></span>
                                <span class="switch"></span>
                            </label>
                        </div>
                    </div>
                </div>
            </td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td>
                <div class="toggle-switch-container">
                    <div class="toggle-switch-div">
                        <p class="toggle-label">Quadrangle</p>
                        <div class="toggle-switch">
                            <input type="checkbox" class="checkbox" name="Quadrangle" id="Quadrangle-checkbox" checked>
                            <label class="label" for="Quadrangle-checkbox" id="Quadrangle-label">
                                <span class="inner"></span>
                                <span class="switch"></span>
                            </label>
                        </div>
                    </div>
                </div>
            </td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td>
                <div class="toggle-switch-container">
                    <div class="toggle-switch-div">
                        <p class="toggle-label">Terrace</p>
                        <div class="toggle-switch">
                            <input type="checkbox" class="checkbox" name="Terrace" id="Terrace-checkbox" checked>
                            <label class="label" for="Terrace-checkbox" id="Terrace-label">
                                <span class="inner"></span>
                                <span class="switch"></span>
                            </label>
                        </div>
                    </div>
                </div>
            </td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td>
                <div class="toggle-switch-container">
                    <div class="toggle-switch-div">
                        <p class="toggle-label">Tower</p>
                        <div class="toggle-switch">
                            <input type="checkbox" class="checkbox" name="Tower" id="Tower-checkbox" checked>
                            <label class="label" for="Tower-checkbox" id="Tower-label">
                                <span class="inner"></span>
                                <span class="switch"></span>
                            </label>
                        </div>
                    </div>
                </div>
            </td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td>
                <div class="toggle-switch-container">
                    <div class="toggle-switch-div">
                        <p class="toggle-label">Tiger Inn</p>
                        <div class="toggle-switch">
                            <input type="checkbox" class="checkbox" name="TigerInn" id="TigerInn-checkbox" checked>
                            <label class="label" for="TigerInn-checkbox" id="TigerInn-label">
                                <span class="inner"></span>
                                <span class="switch"></span>
                            </label>
                        </div>
                    </div>
                </div>
            </td>
            <td></td>
        </tr>
    </table>
</div>