{% from '/pages/events/eventdetails.html' import event_details as event_details %}
<!DOCTYPE html>
<html lang='en'>
    <head>
        <meta charset='utf-8' />
        <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.11/index.global.min.js'></script>
        <link href="{{ url_for('static', filename='styles/calendar_page.css')}}" rel="stylesheet" />
        <link href="{{ url_for('static', filename='styles/eventdetails.css')}}" rel="stylesheet" />
        <link href='https://fonts.googleapis.com/css?family=Inter' rel='stylesheet'>
        <title>Events</title>
    </head>
    <body>
        {% include '/components/nav.html' %}
        <div class="calendar-page">
            {% include '/components/calendar_page/sidebar.html' %}
            <div id='calendar'></div>
            <div class="container">
                <div class="eventdetails-container" hidden>
                    <div class="header">
                        <h2>Event Details</h2>
                        <header style="background-color:#000;color:#fff;">
                            <span onclick=handleExit() class="close-button">&times;</span>
                        </header>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="eventName">Event Name:</label>
                                <p class="event-name"></p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="location">Location:</label>
                                <p class="location"></p>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="description">Description:</label>
                        <p class="description"></p>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="startDateTime">Start Date and Time:</label>
                                <p class="startDateTime"></p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="endDateTime">End Date and Time:</label>
                                <p class="endDateTime"></p>
                            </div>
                        </div>
                        <div class="form-group">
                            <!-- When user clicks attending button,  -->
                            <button class="button-event" id="attend-event" onclick="alert('Placeholder RSVP')">I'm going!</button>
                        </div>
                    </div>
                    {% if is_officer: %}
                    <div class="row delete-event" hidden>
                        <button class="delete-event-button" onClick="deleteEvent()">Delete Event</button>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
        <script>
            const fetchEvents = async () => {
                const eventRes = await fetch('/api/events');
                const { events } = await eventRes.json();

                const clubRes = await fetch('/api/clubs');
                const clubs = (await clubRes.json()).clubs.map(clubEntry => {
                    return clubEntry[1];
                });

                const selectedClubs = clubs.filter(club => {
                    const toggle = document.querySelector(`#${club}-checkbox`);
                    return toggle && toggle.checked;
                });

                return events.filter(event => selectedClubs.includes(event[2])).map(eventInfo => {
                    const [eventId, event, club, description, start, end] = eventInfo;

                    return {
                        title: event,
                        extendedProps: {
                            eventId,
                            club,
                            description
                        },
                        start,
                        end,
                        color: color(club)
                    };
                });
            };

            function handleEventDoubleClick(eventInfo) {
                const {
                    title,
                    start,
                    end,
                    extendedProps
                } = eventInfo.event;
                const {description, club, eventId} = extendedProps;

                const startDate = new Date(start);
                const endDate = new Date(end);

                const options = {
                    year: 'numeric',
                    month: 'long',
                    day: 'numeric',
                    hour: '2-digit',
                    minute: '2-digit'
                };

                const formattedStartDate = startDate.toLocaleDateString('en-US', options);
                const formattedEndDate = endDate.toLocaleDateString('en-US', options);

                document.querySelector('.eventdetails-container').hidden = false;
                document.querySelector('.event-name').innerText = title;
                document.querySelector('.location').innerText = club;
                document.querySelector('.description').innerText = description;
                document.querySelector('.startDateTime').innerText = formattedStartDate;
                document.querySelector('.endDateTime').innerText = formattedEndDate;

                if (club === {{ club_name | safe }}) {
                    document.querySelector('.delete-event').hidden = false;
                } else {
                    document.querySelector('.delete-event').hidden = true;
                }
                if (eventId !== undefined) {
                    document.querySelector('.delete-event-button').addEventListener('click', () => deleteEvent(eventId));
                }
            }

            function handleExit() {
                document.querySelector('.eventdetails-container').hidden = true;
            }

            const deleteEvent = async (eventId) => {
                if (eventId !== undefined) {
                    const res = await fetch(`/api/delete_event?eventId=${eventId}`, {
                        method: 'POST'
                    });
                    const { success } = await res.json();
                    if (success) {
                        await renderCalendar();
                        document.querySelector('.eventdetails-container').hidden = true;
                    } else {
                        alert('Failed to delete event.');
                    }
                }
                
            }   

            function color(clubname) {
                if (clubname === "Cannon")
                    return '#C8E117'
                if (clubname === "Cap")
                    return '#E13917'
                if (clubname === "Charter")
                    return '#E18217'
                if (clubname === "Cloister")
                    return '#1751E1'
                if (clubname === "Colonial")
                    return '#E117A4'
                if (clubname === "Cottage")
                    return '#000000'
                if (clubname === "Ivy")
                    return '#007620'
                if (clubname === "Quadrangle")
                    return '#734400'
                if (clubname === "Terrace")
                    return '#6E13B9'
                if (clubname === "TigerInn")
                    return '#378006'
                if (clubname === "Tower")
                    return '#5E6600'
            };

            let view = 'dayGridMonth';
            const renderCalendar = async () => {
                const events = await fetchEvents();

                var calendarEl = document.getElementById('calendar');

                var calendar = new FullCalendar.Calendar(calendarEl, {
                    initialView: view,
                    initialDate: new Date().toISOString().slice(0, 10),
                    headerToolbar: {
                        left: 'prev,next today',
                        center: 'title',
                        right: 'dayGridMonth,timeGridWeek,timeGridDay'
                    },
                    datesSet: (dateInfo) => {
                        view = dateInfo.view.type;
                    },
                    events: events,
                    eventClick: (eventInfo) => {
                        handleEventDoubleClick(eventInfo);
                    },
                    slotMinTime: '10:00:00',
                    allDaySlot: false,
                });

                calendar.render();
            };

            document.addEventListener('DOMContentLoaded', renderCalendar);

            document.querySelectorAll('.checkbox').forEach(input => {
                input.onchange = async () => {
                    await renderCalendar();
                };
            })
        </script>
    </body>
</html>
