{% from '/pages/events/eventdetails.html' import event_details as event_details %}
<!DOCTYPE html>
<html lang='en'>
    <head>
        <meta charset='utf-8' />
        <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.11/index.global.min.js'></script>
        <link href="{{ url_for('static', filename='styles/calendar_page.css')}}" rel="stylesheet" />
        <link href="{{ url_for('static', filename='styles/eventdetails.css')}}" rel="stylesheet" />
        <link href='https://fonts.googleapis.com/css?family=Inter' rel='stylesheet'>
        <title>Events</title>
    </head>
    <body>
        {% include '/components/nav.html' %}
        <div class="calendar-page">
            {% include '/components/calendar_page/sidebar.html' %}
            <div id='calendar'></div>
            <!-- Event details container -->
            <div class="container">
                <div class="eventdetails-container" hidden>
                    <div class="form-group header">
                        <h2>Event Details</h2>
                        <span onclick=handleExit() class="close-button">&#10006;</span>
                    </div>
                    <div class="eventdetails-row">
                        <div class="form-group">
                            <label for="eventName">Event Name:</label>
                            <p class="event-name"></p>
                        </div>
                        <div class="form-group">
                            <label for="location">Location:</label>
                            <p class="location"></p>
                        </div>
                    </div>
                    <div class="eventdetails-row eventdetails-description">
                        <div class="form-group">
                            <label for="description">Description:</label>
                            <p class="description"></p>
                        </div>
                    </div>
                    <div class="eventdetails-row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="startDateTime">Start Date and Time:</label>
                                <p class="startDateTime"></p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="endDateTime">End Date and Time:</label>
                                <p class="endDateTime"></p>
                            </div>
                        </div>
                    </div>
                    <div class="rsvp-div" hidden>
                        <p id="rsvp"></p>
                    </div>

                    {% if is_officer: %}
                    <div class="eventdetails-row attending-list-div" hidden>
                        <p id="attendees-list">Attendees:</p>
                        <ul class="attending-list">
                        </ul>
                    </div>
                    <div class="eventdetails-row delete-event" hidden>
                        <button class="delete-event-button button-event">Delete Event</button>
                    </div>

                    {% endif %}
                    <div class="eventdetails-row">
                        <button class="button-event" id="attend-event">I'm going!</button>
                    </div>
                </div>
            </div>
            <!-- End of event details container -->
        </div>
        <script>
            /* Function for fetching all events in the calendar and loading it onto the page. */
            const fetchEvents = async () => {
                const eventRes = await fetch('/api/events');
                if (!eventRes.ok) {
                    alert('Failed to fetch events. Please try again.');
                    return;
                }
                const { events } = await eventRes.json();

                const clubRes = await fetch('/api/clubs');
                if (!clubRes.ok) {
                    alert('Failed to fetch the eating clubs. Please try again.');
                    return;
                }
                const clubs = (await clubRes.json()).clubs.map(clubEntry => {
                    return clubEntry[1];
                });

                const selectedClubs = clubs.filter(club => {
                    const toggle = document.querySelector(`#${club}-checkbox`);
                    return toggle && toggle.checked;
                });

                return events.filter(event => selectedClubs.includes(event[2])).map(eventInfo => {
                    const [eventId, event, club, description, start, end] = eventInfo;

                    return {
                        title: event,
                        /* 
                            extendedProps is a field specific for fullcalendar.js,
                            this way the function can fetch information about the 
                            event when a user clicks on an event.
                        */
                        extendedProps: {
                            eventId,
                            club,
                            description
                        },
                        start,
                        end,
                        color: color(club)
                    };
                });
            };

            /* Function for when a user clicks on attending an eating club event */
            const attendEvent = async (eventId) => {
                const response = await fetch(`/api/attend_event`, {
                    method: 'POST', 
                    headers: {
                        "Content-Type": "application/json",
                    },
                    body: JSON.stringify({ eventId })
                });
                if (response.ok) {
                    alert('Attending event!');
                    // Hides popup for displaying the event details
                    document.querySelector('.eventdetails-container').hidden = true;
                } else {
                    alert('Error with attending event');
                }
            };

            /* Function for when an event in the calendar is clicked.*/
            const handleEventClick = async (eventInfo) => {
                const {
                    title,
                    start,
                    end,
                    extendedProps
                } = eventInfo.event;
                const {description, club, eventId} = extendedProps;

                const response = await fetch(`/api/get_event_attendees?eventId=${eventId}`);
                if (!response.ok) {
                    alert('Failed to fetch event attendees. Please try again.');
                    return;
                }
                const { attendees } = await response.json();

                /* the syntax is for injecting jinja syntax into JavaScript */
                const isAttendingEvent = attendees.includes({{ username| safe }});
                if (isAttendingEvent) {
                    document.querySelector('#attend-event').hidden = true;
                    document.querySelector('.rsvp-div').hidden = false;
                    document.querySelector('#rsvp').innerText = 'Attendance Status: I am attending this event';
                } else {
                    document.querySelector('#attend-event').hidden = false;
                    document.querySelector('.rsvp-div').hidden = true;
                    document.querySelector('#rsvp').innerText = '';
                }

                const startDate = new Date(start);
                const endDate = new Date(end);

                const options = {
                    year: 'numeric',
                    month: 'long',
                    day: 'numeric',
                    hour: '2-digit',
                    minute: '2-digit'
                };

                const formattedStartDate = startDate.toLocaleDateString('en-US', options);
                const formattedEndDate = endDate.toLocaleDateString('en-US', options);

                document.querySelector('.eventdetails-container').hidden = false;
                document.querySelector('.event-name').innerText = title;
                document.querySelector('.location').innerText = club;
                document.querySelector('.description').innerText = description;
                document.querySelector('.startDateTime').innerText = formattedStartDate;
                document.querySelector('.endDateTime').innerText = formattedEndDate;

                if (document.querySelector('.attending-list-div')) {
                    document.querySelector('.attending-list-div').hidden = true;
                    document.querySelector('.attending-list').innerHTML = '';
                }

                /* Ignore warnings, it's a Jinja specific syntax for JavaScript */
                const isOfficerOfEvent = club === {{ club_name | safe }};
                if (isOfficerOfEvent) {
                    if (document.querySelector('.delete-event')) {
                        document.querySelector('.delete-event').hidden = false;
                        document.querySelector('.attending-list-div').hidden = false;
                    }
                    if (attendees.length > 0) {
                        document.querySelector('.attending-list-div').hidden = false;
                        attendees.forEach(attendee => {
                            const list = document.createElement('li');
                            list.innerText = attendee;
                            document.querySelector('.attending-list').appendChild(list);
                        });
                    } else {
                         document.querySelector('.attending-list-div').hidden = true;
                    }
                } else {
                    const isOfficer = {{ is_officer | safe }};
                    if (isOfficer) {
                        document.querySelector('.delete-event').hidden = true;
                        document.querySelector('.attending-list-div').hidden = true;
                    }
                }


                if (eventId !== undefined) {
                    document.querySelector('#attend-event').onclick =() => attendEvent(eventId);
                    if (document.querySelector('.delete-event-button')) {
                        document.querySelector('.delete-event-button').onclick = () => deleteEvent(eventId);
                    }
                }
            }

            function handleExit() {
                document.querySelector('.eventdetails-container').hidden = true;
            }

            /* Deletes event if officer has confirmation to delete it */
            const deleteEvent = async (eventId) => {
                const confirmation = confirm('Are you sure you want to delete this event?');
                if (confirmation) {
                    if (eventId !== undefined) {
                        const response = await fetch('/api/delete_event', {
                            method: 'POST',
                            headers: {
                                "Content-Type": "application/json",
                            },
                            body: JSON.stringify({
                                eventId
                            })
                        });

                        if (response.ok) {
                            alert('Event deleted successfully.');
                            await renderCalendar();
                            document.querySelector('.eventdetails-container').hidden = true;
                        } else {
                            alert('Failed to delete event.');
                        }
                    } else {
                        alert('Failed to delete event.');
                    } 
                }
            }   

            function color(clubname) {
                if (clubname === "Cannon")
                    return '#C8E117'
                if (clubname === "Cap")
                    return '#E13917'
                if (clubname === "Charter")
                    return '#E18217'
                if (clubname === "Cloister")
                    return '#1751E1'
                if (clubname === "Colonial")
                    return '#E117A4'
                if (clubname === "Cottage")
                    return '#000000'
                if (clubname === "Ivy")
                    return '#007620'
                if (clubname === "Quadrangle")
                    return '#734400'
                if (clubname === "Terrace")
                    return '#6E13B9'
                if (clubname === "TigerInn")
                    return '#900C3F'
                if (clubname === "Tower")
                    return '#5E6600'
            };

            let view = 'dayGridMonth';
            const renderCalendar = async () => {
                const events = await fetchEvents();

                var calendarEl = document.getElementById('calendar');

                var calendar = new FullCalendar.Calendar(calendarEl, {
                    initialView: view,
                    initialDate: new Date().toISOString().slice(0, 10),
                    headerToolbar: {
                        left: 'prev,next today',
                        center: 'title',
                        right: 'dayGridMonth,timeGridWeek,timeGridDay'
                    },
                    datesSet: (dateInfo) => {
                        view = dateInfo.view.type;
                    },
                    events: events,
                    eventClick: (eventInfo) => {
                        handleEventClick(eventInfo);
                    },
                    slotMinTime: '10:00:00',
                    allDaySlot: false,
                });

                calendar.render();
            };

            document.addEventListener('DOMContentLoaded', renderCalendar);

            document.querySelectorAll('.checkbox').forEach(input => {
                input.onchange = async () => {
                    await renderCalendar();
                };
            })
        </script>
    </body>
</html>
