.announcement-container {
    max-width: 600px;
    margin: 0 auto;
}
.announcement {
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
}
.create-button {
    margin-top: 20px;
}
.button-announcement {
    background-color: rgba(251,145,20,1)
}

.button-announcement:active {
    background-color:rgb(210, 118, 14);
}

