.sidebar {
    width: 300px;
    padding: 16px;
    min-height: 100%;
    background-color: white;
}
.calendar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#calendar {
    width: 100%;
}
.time {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.description {
    word-wrap: break-word;
    max-height: 300px;
    overflow: scroll;
}
.time-row {
    height: 70px;
}
.calendar-page {
    height: 100%;
    display: flex;
    flex-direction: row;
}
.day {
    width: 100%;
    border-left: solid #808080 1px;
    text-align: center;
}
p {
    margin: 0;
}

.date {
    margin: 0;
    font-size: 30px;
}

.month {
    color: #ffffff;
}

.year {
    color: #F44336;
}
#eating-club-header {
    color: rgba(251,145,20,1);
    text-align: center;
}

.container {
    z-index: 3;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.eventdetails-container {
    background-color: #ffffff;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.fc-event {
    cursor: pointer;
}

/* Toggle Switch */
table {
    table-layout: fixed;
    width: 100%;
}
td {
    flex: 1;
}
.toggle-switch-div {
    text-align: center;
}

.toggle-switch {
    position: relative;
    width: 50px;
    display: inline-block;
    text-align: left;
    top: 8px;
}

.toggle-label {
    color: black;
    display: inline;
    margin-right: 4px;
    font-size: 12px;
}

.toggles-row {
    display: flex;
    flex-direction: row;
    border: none;
}

.checkbox {
    display: none;
}

.label {
    display: block;
    overflow: hidden;
    cursor: pointer;
    border: 0 solid #bbb;
    border-radius: 20px;
}

.inner {
    display: block;
}

.inner:before,
.inner:after {
    float: left;
    width: 50%;
    height: 24px;
    padding: 0;
    line-height: 36px;
    box-sizing: border-box;
    background-color: #bbb;
    border: none;
    transition: background-color 0.3s ease-in-out;
}

.inner:before {
    content: '';
    padding-left: 10px;
}

.inner:after {
    content: '';
    padding-right: 10px;
}

.switch {
    display: block;
    width: 14px;
    margin: 5px;
    background: #fff;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 27px;
    border: 0 solid #bbb;
    border-radius: 20px;
    transition: all 0.3s ease-in 0s;
}

.checkbox:checked+.label .inner::before,
.checkbox:checked+.label .inner::after {
    background-color: rgba(14, 165, 233, .5);
}

#Cannon-checkbox:checked+#Cannon-label .inner::before,
#Cannon-checkbox:checked+#Cannon-label .inner::after {
    background-color: rgba(200, 225, 23, .5);
}

#Cap-checkbox:checked+#Cap-label .inner::before,
#Cap-checkbox:checked+#Cap-label .inner::after {
    background-color: rgba(200, 57, 23, .5);
}

#Charter-checkbox:checked+#Charter-label .inner::before,
#Charter-checkbox:checked+#Charter-label .inner::after {
    background-color: rgba(200, 130, 23, .5);
}

#Cloister-checkbox:checked+#Cloister-label .inner::before,
#Cloister-checkbox:checked+#Cloister-label .inner::after {
    background-color: rgba(23, 81, 225, .5);
}

#Colonial-checkbox:checked+#Colonial-label .inner::before,
#Colonial-checkbox:checked+#Colonial-label .inner::after {
    background-color: rgba(225, 23, 164, .5);
}

#Cottage-checkbox:checked+#Cottage-label .inner::before,
#Cottage-checkbox:checked+#Cottage-label .inner::after {
    background-color: rgba(00, 00, 00, .5);
}

#Ivy-checkbox:checked+#Ivy-label .inner::before,
#Ivy-checkbox:checked+#Ivy-label .inner::after {
    background-color: rgba(00, 118, 32, .5);
}

#Quadrangle-checkbox:checked+#Quadrangle-label .inner::before,
#Quadrangle-checkbox:checked+#Quadrangle-label .inner::after {
    background-color: rgba(115, 68, 00, .5);
}

#Terrace-checkbox:checked+#Terrace-label .inner::before,
#Terrace-checkbox:checked+#Terrace-label .inner::after {
    background-color: rgba(110, 19, 185, .5);
}

#TigerInn-checkbox:checked+#TigerInn-label .inner::before,
#TigerInn-checkbox:checked+#TigerInn-label .inner::after {
    background-color: rgba(144, 12, 63, .5);
}

#Tower-checkbox:checked+#Tower-label .inner::before,
#Tower-checkbox:checked+#Tower-label .inner::after {
    background-color: rgba(94, 102, 00, .5);
}

.checkbox:checked+.label .switch {
    right: 0px;
}
.fc .fc-button-primary { 
    color: #ffffff; 
    background-color:rgba(251,145,20,1) !important; 
    border-color: #FFFFFF !important; 
}

.fc-event, .fc-event-dot, .fc-title, .fc-list-item-title, .fc-daygrid-day-number, .fc-day-number, .fc-col-header-cell-cushion {
    color: black !important;
}
/* End toggle switch */