.cannon-background, .cap-background, .charter-background, 
.cloister-background, .colo-background, .cottage-background,
.ivy-background, .quad-background, .terrace-background,
.ti-background, .tower-background {
    margin: 0;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.cannon-background {
    background-image: url('../img/cannon.jpeg');
}

.cap-background {
    background-image: url('../img/cap.jpeg');
}

.charter-background {
    background-image: url('../img/charter.jpeg');
}

.cloister-background {
    background-image: url('../img/charter.jpeg');
}

.colo-background {
    background-image: url('../img/colo.jpeg');
}

.cottage-background {
    background-image: url('../img/cottage.png');
}

.ivy-background {
    background-image: url('../img/ivy.jpeg');
}

.quad-background {
    background-image: url('../img/quad.jpeg');
}

.terrace-background {
    background-image: url('../img/terrace.jpeg');
}

.ti-background {
    background-image: url('../img/ti.jpeg');
}

.tower-background {
    background-image: url('../img/tower.jpeg');
}

.dark-overlay::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Control the darkening effect here */
    pointer-events: none;
}

.club-description {
    position: absolute; /* Position the text absolutely within the .cottage-background */
    top: 70%; /* Adjust as needed to move the text up or down relative to the container */
    left: 70%; /* Adjust as needed to move the text left or right relative to the container */
    transform: translate(-50%, -50%); /* Center the text block */
    color: rgba(255,253,253,1);
    font-family: Inter;
    font-weight: Regular;
    font-size: 29px;
    text-align: center;
    width: 50px; /* Adjust width as needed */
}
.club-name {
    position: absolute; /* Position the container absolutely within the .cottage-background */
    top: 20%; /* Adjust as needed to move the container up or down relative to the background */
    left: 50%; /* Adjust as needed to move the container left or right relative to the background */
    color: rgba(255,253,253,1);
    width: 604px; /* Adjust the width as needed */
    transform: translate(-50%, -50%);
}

.club-title, .club-subtitle {
    color: rgba(255,253,253,1);
    font-family: Inter;
    text-align: left; /* Align the text to the left */
}

.club-title {
    font-weight: bold;
    font-size: 85px; /* Adjust the font size as needed */
    display: block; /* Ensures that the title takes up the full width and forces the subtitle to the next line */
}
.club-subtitle {
    display: block; /* Ensures that the subtitle is on a new line */
    font-weight: regular;
    font-size: 48px; /* Adjust the font size as needed */
}
.event-handle {
    position: absolute;
    top: 90%;
    left: 70%;
    transform: translate(-50%, -50%);
    width: 560px;
    height: 331px;
    text-align: center
}

.upcoming-events, .event_description {
    color: rgba(255,253,253,1);
    font-family: Inter;
}

.outer-layer {
    background: rgba(255,255,255,0.3);
    position: absolute;
    border-radius: 8px;
    width: 352px;
    height: 148px;
    background-position: center;
    background-size: cover;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transform: translate(-50%, -50%);
}

.inner-layer {
    position: absolute;
    width: 300px;
    height: 100px;
    background-position: center;
    background-size: cover;
    background: rgba(251,145,20,1);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 5;
}

