.navbar {
    background-color: #ffffff;
  }
  
  .title {
    font-size: 30px;
    color: rgba(251,145,20,1);
    text-align: center;
    padding: 12px 16px;
  }
  
  /* Style the links inside the navigation bar */
  .navbar a {
    float: left;
    color: rgba(251,145,20,1);
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-family: Inter;
    font-weight: Regular;
    font-size: 16px;
    font-size: 17px;
}
  
  /* Change the color of links on hover */
  .navbar a:hover {
    background-color: rgba(251,145,20,1);
    color: rgb(255, 255, 255);
  }

.background {
    background-image: url('homephoto.png');
    opacity: 0.5;
    margin: 0; /* Removes the default margin around the body */
    height: 100vh; /* Sets the height of the body to fill the whole viewport height */
    background-size: cover; /* Scales the background image to be as large as possible */
    background-position: center; /* Centers the background image */
    background-repeat: no-repeat; /* Ensures the image does not repeat */
}
  
.square {
    position: absolute;
    width: 200px;
    height: 100px;
    background-position: center;
    background-size: cover;
    background: rgba(251,145,20,1);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    top: 50%;
    left: 20%;
    transform: translate(-50%, -50%);
    opacity: 5;
}
.akar-icons--chevron-down {
  display: inline-block;
  width: 1em;
  height: 1em;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='none' stroke='%23000' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m4 9l8 8l8-8'/%3E%3C/svg%3E");
  background-color: rgba(251,145,20,1);
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: rgba(251,145,20,1);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1;}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropdown-trigger {
    cursor: pointer;
}
.add-announcement {
    background-color: #cd8321;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    float: right;
    top: 50%;
    left: 80%;
}

.headers {
  position: absolute;
  bottom: 96px;
  left: 97px;
}

#home-header {
  font-size: 96px;
  font-weight: 600;
}
#welcome-header {
  font-size: 64px;
  font-weight: 600;
}

#icc-website {
  display: inline-block;
  background-color: #333333;
  color: #ffffff;
  text-decoration: none;
  padding: 20px 60px;
  border-radius: 100px;
}